<header>
    <!-- botones del header -->
    <button class="menu configBotones">
        <span class="material-symbols-outlined headIcon">menu</span>
    </button>  
    <button class="usuario configBotones">
        <span class="material-symbols-outlined headIcon">account_circle</span>
        Tú
    </button>

    
    <!-- secciones del menu hamburguesa -->
    <div class="menu-hamburguesa">
        <a href="/panel" data-content="Clientes" class="configBotones">
            <span class="material-symbols-outlined menu">Home</span>
            <span class="texto">Inicio</span> 
        </a>
        <a href="/vistaClientes" data-content="Clientes" class="configBotones">
            <span class="material-symbols-outlined menu">format_list_bulleted</span>
            <span class="texto">Clientes</span>
        </a>
        <a href="/solicitudes" data-content="Solicitudes" class="configBotones">
            <span class="material-symbols-outlined menu">visibility</span>
            <span class="texto">Solicitudes</span>
        </a>
        <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="configBotones">
            <span class="material-symbols-outlined menu">upgrade</span>
            <span class="texto">Cargar cliente</span>
        </a>
        <a href="/crear_usuario" data-content="addUsuario" id="cargar-usuario" class="configBotones">
            <span class="material-symbols-outlined menu">add</span>
            <span class="texto">Crear usuario</span>
        </a>
        <a href="/coberturas" data-content="addCobertura" id="cargar-coberturas" class="configBotones">
            <span class="material-symbols-outlined menu">open_run</span>
            <span class="texto">Coberturas</span>
        </a>
    </div>
    
    
    <!-- secciones del menu de usuario -->
    <div class="menu-usuario">
        <a href="/cerrar-sesion" id="cerrar-sesion">Cerrar sesión</a>
    </div>
</header>