<header>
    <div class="header-img">
        <img src="../../public/img/logo_grande_transparente.png">
    </div>
    <div class="icon-menu">
        <i id="icono-barras" class="fa fa-bars" aria-hidden="true"></i>
        <i id="icono-x" class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <nav class="menu">
        <ul>
            <li>
                <a href="/inicio-usuario" id="datos-pers">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="/obtener-usuario" id="datos-pers">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    <span>Datos Personales</span>
                </a>
            </li>
            <li>
                <a href="/obtener-vehiculos" id="vehiculos-aseg">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <span>Vehículos Asegurados</span>
                </a>
            </li>
            <li>
                <a href="/usuario/credenciales" id="cambiar-cont">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <span>Cambiar Contraseña</span>
                </a>
            </li>
            <li>
                <!-- <a href="/usuario/denunciar-siniestro" id="denunciar-sini">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <span>Denunciar Siniestro</span>
                </a> -->
            </li>
            <li>
                <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
</header>